* { margin: 0; padding: 0; }
html, body { height: 100%; }
canvas { display: block; }


#content { font: 16px/22px 'Terminal Dosis Light', Helvetica, Arial, sans-serif; color: #fff; position: absolute; right: 0px; top: 0px; bottom: 0px; padding: 64px 20px 30px; width: 250px; text-align: left;
    -moz-box-shadow: inset 10px 0px 10px #222;
    -webkit-box-shadow: inset 10px 0px 10px #222;
    box-shadow: inset 10px -2px 10px #222;
    border-left: 1px solid #ddd;
    background-color: #444;
    overflow: auto;
} 
#test-cases { padding: 10px; }
a { cursor: pointer; color: #ff0; }
a:hover { color: #ff00ff; }
#test-cases small { letter-spacing: 1px; font-size: 9px; }

#test-desc {  font-size: 12px; line-height: 18px; padding: 10px;font-family: Helvetica, Arial; }

#logo { font: 48px/62px 'Terminal Dosis Light', Helvetica, sans-serif; letter-spacing: -.5px; padding: 10px; }

a#stats { font-size: 12px; padding: 10px; border-top: 1px solid #666; display: block; }

#content h1, #content a { text-shadow: 3px -3px 0px #222;}