* { margin: 0; padding: 0; }
html, body { height: 100%; }
canvas { display: block; }
li { list-style-type: none; }

body { overflow: hidden; }

#container { width: 100%; height: 100%; }

#menu { font: 16px/22px 'Terminal Dosis Light', Helvetica, Arial, sans-serif; color: #eee; position: absolute; right: 60px; bottom: 0px; top: 60px; padding: 90px 30px 30px; width: 240px; text-align: left;
    background-color: #444;
    overflow: auto;
    -webkit-transition: top 0.3s linear;
    -moz-transition: top 0.3s linear;
    transition: top 0.3s linear;
} 
#toggle { position: absolute; right: 38px; top: 40px; width: 22px; line-height: 22px; text-align: center; height: 22px; background-color: #444; 
    -webkit-transition: top 0.3s linear;
    -moz-transition: top 0.3s linear;
    transition: top 0.3s linear;}
#test-cases { padding: 10px 10px 30px; }
a { cursor: pointer; color: #ff0; text-decoration: none; }
a:hover { color: #ff00ff; }

#test-cases small { letter-spacing: 1px; font-size: 9px; }

#test-desc {  font-size: 12px; line-height: 18px; padding: 10px; font-family: Helvetica, Arial; }

#logo { font: 48px/62px 'Terminal Dosis Light', Helvetica, sans-serif; letter-spacing: -.5px; padding: 10px 10px 30px; }

a#stats, a#github_url { font-size: 12px; padding: 2px 10px; display: block; }
a#stats { padding-top: 30px; margin-top: 30px; border-top: 1px solid #666; }

#container { position: absolute; left: 0; top: 0; right: 291px; }